.navbar {
    width:100vw;
    height: 5rem;
    margin: 0 auto;
    max-width: 75rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;

}

.logo {
    width: 190px;
    height: 120px;
    padding: 10px;
    border-radius: 50%;
}

.logo-img {
    position: absolute;
    bottom: 12px;
    z-index: -1;
    width: 100px;
    margin: 0 80px;

}

.logo:hover {
    cursor: pointer;
}

.desktopMenuListItem {
    margin: 2rem;
    cursor: pointer;
    
}

.desktopMenuButton {
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 3rem;

}

.desktopMenuButton:hover {
    border: 2px solid white;
    cursor: pointer;
}

.desktopMenuImg {
    object-fit: cover;
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;
}

.desktopMenuListItem:hover {
    color: #dc00f0;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #dc00f0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}