.navbar {
    width:100vw;
    height: 5rem;
    margin: 0 auto;
    max-width: 75rem;
    padding: 2rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;

}

.logo {
    width: 190px;
    height: 120px;
    padding: 10px;
    margin-right: 50px;
    
}

.logo-img {
    position: absolute;
    bottom: 12px;
    z-index: -1;
    width: 100px;
    margin: 0 80px;

}

.logo:hover {
    cursor: pointer;
}

.desktopMenu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 70px;
    font-size: 16px;
    font-family: 'outfit';
}


.desktopMenuButton {
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    color: white;
    border: none;
    padding: 0 1rem;
    border-radius: 3rem;

}

.anchor-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.desktopMenuButton:hover {
    border: 2px solid white;
    cursor: pointer;
}

.desktopMenuImg {
    object-fit: cover;
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;
}

.desktopMenuListItem:hover {
    color: #dc00f0;
    padding-bottom: 0.5rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.desktopMenu img {
    width: 50px;
    object-fit: cover;
    position: absolute;
    bottom: 15px;
    margin: 0 10px;
}

.anchor-link {
    text-decoration: none;
    color: white;
}

