#home {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
}

.bg {
    position: absolute;
    top: 0rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
    margin-right: 100px;
}

.cvbtn {
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    padding: 0.25rem 1rem;
    margin-left: 1.5rem;
    border: none;
    border-radius: 2rem;
}

.cvbtn:hover {
    border: 2px solid white;
    cursor: pointer;
}

.resume {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    margin:  0.25rem 0.5rem;
    height: 1.6rem;
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 3rem;
    font-weight: 100;
}

.introName {
    color: #dc00f0;
}

.introPara {
    font-size: medium;
    font-weight: 200;
}

.introText {
    font-size: 4rem;
}

.btn {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    padding: 0.25rem 1rem;
    border: none;
    border-radius: 2rem;
}

.anchor-link-hireme {
    text-decoration: none;
    color: black;
}

.hireMe {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    margin:  0.25rem 0.5rem;
    height: 1.6rem;
}

.btn:hover {
    border: 3px solid #dc00f0;
    cursor: pointer;
}

.introButtons {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}


@media screen and (max-width:840px) {
    .bg {
        right: -10vw;
    }

    .introContent {
        font-size: 10vw;
    }

    .hello {
        font-size: 6vw;
    }

    
}
